%main
  #calculator
    %input#input
    #keys
      #reset.key C
      #divide.key /
      #multiply.key *
      #minus.key -
      #plus.key +
      #enter.key =
      #key7.key 7
      #key8.key 8
      #key9.key 9
      #key4.key 4
      #key5.key 5
      #key6.key 6
      #key1.key 1
      #key2.key 2
      #key3.key 3
      #key0.key 0
      #decimal.key .
      